.btn{
  &-main{
    width: auto;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $helper-color;
    outline: none;
    border-radius: 5px;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: $main-color--dark;
  }

  &--transparent{
    background-color: transparent;
    border: 1px solid $helper-color;
  }
}
