.btn{
  &-main{
    width: auto;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $main-color;
    outline: none;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: $main-color;
  }

  &-icon{
    width: 48px;
    height: 48px;

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    svg{
      width: 32px;
      height: 32px;

      fill: $main-color;
    }
  }

  &--transparent{
    background-color: transparent;
    border: 1px solid $main-color;
  }
}
