.input-text {
  width: auto;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__title, &__footer {
    width: 100%;
    height: 24px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: $helper-color--dark;
  }

  &__footer {
    min-height: 28px;

    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    color: $helper-color--dark;

    &-inner{
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: inherit;

      &-enter-active, &-leave-active {
        transition: opacity 0.25s;
      }

      &-enter, &-leave-to{
        opacity: 0;
      }
    }
  }

  &__input {
    width: 100%;
    height: 32px;

    padding: 4px;
    margin-top: 4px;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    font-size: 16px;
    font-weight: 400;

    &:focus{
      cursor: text;
    }
  }

  &--default {
    .input-text__input {
      border: 0.1px solid $helper-color;
      border-radius: 3px;

      color: $main-color--dark;
    }
  }

  &--error{
    .input-text__input {
      border: 0.1px solid $main-color--error;
    }

    .input-text__footer{
      color: $main-color--error;
    }
  }
}
