$main-color: #6D908A;
$main-color--light: rgb(154, 181, 145);
$main-color--dark: #162822;

$helper-color: #526064;
$helper-color--dark: #475453;

$white-color: #DFE4DA;


$main-color--error: #BD0D22;
$main-color--error-light: #E35760;

$main-color--danger: #EEB969;
